# Build results
bin/
obj/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.userprefs

# Build logs
*.log
msbuild.*.binlog

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Rider
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# User config (runtime generated)
config.json
